@{
    ViewData["title"] = "home page";
}

@using tl2_tp10_2023_Santialru.ViewModels;
@model List<IndexTableroViewModel>
<h2>Tableros List</h2>
<a asp-controller="Tablero" asp-action="CrearTablero" class="btn btn-primary">Crear nuevo tablero</a>

<table class="table table-ligth">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Propietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model)
        {
            <tr>
                <td hidden>@tablero.Id</td>
                <td>@tablero.Id_Usuario_Propietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
            </tr>
            <td>
                <a asp-controller="Tablero" asp-action="EditarTablero" asp-route-id="@tablero.Id" class="btn btn-primary">Editar</a>
                <form asp-controller="Tablero" asp-action="EliminarTablero" method="post" onsubmit="return confirm('¿Estás seguro que quieres eliminar el tablero?')">
                <input type="hidden" name="id" value="@tablero.Id" />
                <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        }
    </tbody>
</table>